.Counter {
  border: 4px solid transparent;
  transition: border-color 1s;
}

.Counter * {
  display: inline-block;
  margin: 12px;
}

.Counter.is-highlighted {
  border-color: red;
  transition: none;
}